.wrapper
  text-align center
  display flex
  justify-content center
  align-items center
  height 100%

.onlineBlock
  .date
    font-size 1em

  .time
    font-size 2em
    width 100%

.offlineBlock
  .offlineMessage
    font-size 0.5em
