<div class="wrapper">
  <app-offline-widget *ngIf="!isConnected"
                      [lastConnectionTimestamp]="lastConnectionTimestamp"
                      [lastConnectionAttemptTimestamp]="lastConnectionAttemptTimestamp">
  </app-offline-widget>
  <app-time-widget *ngIf="isConnected"></app-time-widget>

  <app-budget-balance-widget *ngIf="isConnected"></app-budget-balance-widget>
  <app-budget-today-widget *ngIf="isConnected"></app-budget-today-widget>
  <app-budget-tomorrow-widget *ngIf="isConnected"></app-budget-tomorrow-widget>
  <app-budget-month-widget *ngIf="isConnected"></app-budget-month-widget>
  <app-budget-card-balance-widget *ngIf="isConnected"></app-budget-card-balance-widget>

  <app-co2-widget *ngIf="isConnected"></app-co2-widget>
  <app-temp-widget *ngIf="isConnected"></app-temp-widget>
  <app-rh-widget *ngIf="isConnected"></app-rh-widget>
  <app-pm25-widget *ngIf="isConnected"></app-pm25-widget>
  <app-tvoc-widget *ngIf="isConnected"></app-tvoc-widget>

  <app-abstract-text-widget
    class="placeholder1"
    title="ВТБ"
    value="892 389 ₽">
  </app-abstract-text-widget>

</div>
