.wrapper
  display grid
  grid-template-columns repeat(6, minmax(0, 1fr))
  grid-template-rows repeat(5, 1fr)
  height 100%
  grid-gap 10px
  place-items stretch stretch

  *
    //border 1px solid white
    display grid
    place-items center center



app-time-widget
  grid-column 3 / 5
  grid-row 3 / 4

app-budget-widget
  grid-column 1
  grid-row 2
