<div class="wrapper">
  <app-offline-widget *ngIf="!isConnected"
                      [lastConnectionTimestamp]="lastConnectionTimestamp"
                      [lastConnectionAttemptTimestamp]="lastConnectionAttemptTimestamp">
  </app-offline-widget>
  <app-time-widget *ngIf="isConnected"></app-time-widget>
  <app-budget-widget *ngIf="isConnected"></app-budget-widget>
  <app-co2-widget *ngIf="isConnected"></app-co2-widget>
  <app-temp-widget *ngIf="isConnected"></app-temp-widget>
  <app-rh-widget *ngIf="isConnected"></app-rh-widget>
</div>
