.wrapper
  display grid
  grid-template-columns repeat(6, minmax(0, 1fr))
  grid-template-rows repeat(5, 1fr)
  height 100%
  grid-gap 10px
  place-items stretch stretch

  *
    //border 1px solid white
    display grid
    place-items center center

app-time-widget, app-offline-widget
  grid-column 3 / 5
  grid-row 3 / 4

app-budget-widget
  grid-column 1
  grid-row 2

app-co2-widget
  grid-column 6
  grid-row 1

app-temp-widget
  grid-column 6
  grid-row 2

app-rh-widget
  grid-column 6
  grid-row 3
