html, body
  color white
  background-color black
  font-size 2.6vw
  height 100%
  font-family Ubuntu
  font-weight normal

@font-face
  font-family Ubuntu
  src url("assets/fonts/Ubuntu-Regular.ttf")
